<br> @model TheWallEntity.Models.ViewMessage
<h1>Welcome @ViewBag.UserInfo.FirstName</h1>
<div class="container">
    <p>Post a message</p>
    <form action="/postmessage" method="POST">
        <textarea asp-for="MContent" cols="200" rows="3" class="form-control"></textarea>
        <span asp-validation-for="MContent" class="text-danger"></span>
        <br>
        <input type="submit" value="Post a message" class="btn btn-primary">
    </form><br><br>

    @foreach (var m in ViewBag.messages){
    <h5>@m.User.FirstName @m.User.LastName - @m.CreatedAt.ToString("MMMM d yyyy")</h5>
    <h4>@m.MessageContent</h4>if(ViewBag.UserInfo.UserId == m.User.UserId){
    <a class="btn-xs btn-danger" href="deletemessage/@m.MessageId">Delete</a>
        @foreach (var c in ViewBag.comments){
            @if(c.MessageId == m.MessageId){
                <h6>@c.User.FirstName @c.User.LastName - @c.CreatedAt.ToString("MMMM d yyyy")</h6>
                <p>@c.CommentContent</p>if(ViewBag.UserInfo.UserId == c.User.UserId){
                <a class="btn-xs btn-danger" href="deletecomment/@c.CommentId">Delete</a>}
            }
        }
    }
    <p>Post a comment</p>
    <form action="/postcomment/@m.MessageId" method="POST">
        <textarea name="CContent" cols="80" rows="3" class="form-control"></textarea><br>
        <input type="submit" value="Post a comment" class="btn-xs btn-success">
    </form>
    <hr>
    }
</div>
